.slide img {
	width: 100%;
	height: 100%;

	object-fit: cover;
}

.slideshow-container {
position: relative;
}

.slide {
	width: 100%;
	height: 400px;
}

.prev,
.next {
	position: absolute;

	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;

	border-radius: 0 3px 3px 0;

	font-size: 30px;
	font-weight: bold;
	color: #222428;

	cursor: pointer;
	transition: 0.6s ease;
}

.next {
	right: 0px;
	border-radius: 3px 3px 3px 3px;
}

.prev {
	left: 0px;
	border-radius: 3px 3px 3px 3px;
}

.prev:hover,
.next:hover {
	color: #dead00;
	background: #252525;
}

.dot-container {
	display: flex;
	justify-content: center;

	position: absolute;
	right: 0%;
	left: 0%;
	bottom: 1%;

}

.dot {
	height: 5px;
	width: 30px;

	margin: 0 2px;
	border-radius: 2px;

	background: #b7b7b7;

	cursor: pointer;
	transition: background-color 0.6s ease;
}

.activeDot,
.dot:hover {
	flex: none;
	background: #dead00;
}