html {
	scroll-behavior: smooth;
}

body {
	font-family: "Inter", sans-serif;
	font-size: 16px;
	background: #4e4e4e;
	-webkit-font-smoothing: antialiased;
}

/*
* ID - Elementos Únicos
* CLASSE - Elementos que se repetem
*/

.container {
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
}

/* Cabeçalho [Início] */
header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	padding-top: 1rem;
	/* height: 15 */
	position: relative;

	background: #dead00;
}

#headerTop {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding-left: 250px;
}

.logo {
	width: 120px;
	position: absolute;
	top: 5px;
	left: 40px;
	z-index: 30;
	filter: drop-shadow(0px 4px 4px #00000040);
}

h1 {
	font-weight: 700;
	font-size: 32px;
}

h2 {
	font-weight: 700;
	font-size: 20px;
}

.titulo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 5px;

	text-transform: uppercase;
}

.contatos {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 5px;

	font-weight: 700;
}

.contatos ul {
	display: flex;
	align-items: center;
	font-size: 20px;
	gap: 5px;
}

.contatos p {
	font-size: 12px;
}
/* Cabeçalho [Fim] */

/* Menu de navegação [Início] */
#menu {
	display: flex;
	align-items: center;
	width: 100%;
	height: 35px;

	margin-top: 1rem;
	/* padding-top: 1rem; */

	background: #252525;
}

#menu nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

#menu ul {
	display: flex;
	gap: 5px;
}

#menu li {
	text-transform: uppercase;

	font-weight: 600;

	color: #dead00;
}
/* Menu de navegação [Fim] */

/* Início [Início] */
#inicio {
	display: flex;
	flex-direction: column;
}

.slide {
	max-width: 1366px;
}

.boxItem {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 110px;

	background: #646262;
}

/* FIXME: Container duplicado */
.containerr {
	display: flex;
	gap: 60px;
}

.item {
	display: flex;
	align-items: center;

	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	filter: drop-shadow(0px 4px 4px #00000040);
}

.item h1 {
	font-size: 25px;
}

.item p {
	font-size: 15px;
}
/* Início [Fim] */

/* Nosso Programa [Início] */
#programa {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 30px;

	padding: 160px;

	height: 768px;

	background: #f2f2f2;
}

.titlePrograma {
	display: flex;
	flex-direction: column;

	margin-left: 10px;

	font-size: 32px;
	font-weight: 700;
	text-transform: uppercase;
	color: #252525;
	filter: drop-shadow(0px 4px 4px #00000040);
}

/* Expanding Cards [Início] */
.expandingCards {
	display: flex;
	justify-content: center;
	align-items: center;
}

.panel {
	height: 400px;

	margin: 10px;
	border-radius: 20px;

	flex: 1;
	transition: all 0.5s linear;
	filter: grayscale(1);

	box-shadow: 0px 4px 4px #00000040;
}

.active {
	/* flex: 6;  */
	flex: 400px;
	filter: grayscale(0);
}

#panel-1 {
	background-image: url(../assets/images/card-01.svg);
}
#panel-2 {
	background-image: url(../assets/images/card-01.svg);
}
#panel-3 {
	background-image: url(../assets/images/card-01.svg);
}
#panel-4 {
	background-image: url(../assets/images/card-01.svg);
}
#panel-5 {
	background-image: url(../assets/images/card-01.svg);
}
#panel-6 {
	background-image: url(../assets/images/card-01.svg);
}
/* Expanding Cards [Fim] */
/* Nosso Programa [Fim] */

/* Quem Somos [Início] */
#quemSomos {
	display: flex;
	gap: 50px;

	padding: 160px 60px 160px 160px;

	height: 768px;
	background: #fff;
}

.containerQs-left {
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	margin-left: 10px;
}

.titleQuemsomos {
	font-size: 32px;
	font-weight: 700;
	text-transform: uppercase;
	color: #252525;
	filter: drop-shadow(0px 4px 4px #00000040);
}

.textQuemsomos {
	font-size: 16px;
	font-weight: 700;
	text-align: justify;
}

.losangos {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.losango {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 5px;
}

.losango h2 {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.losango p {
	font-size: 13px;
	font-weight: 400;
	text-align: center;
}

.containerQs-right {
	display: flex;
}
/* Quem Somos [Fim] */

/* Contato [Início] */
#contato {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px 0 20px;

	height: 176px;
	background: #dead00;

	font-weight: 700;
	text-shadow: 0px 4px 4px #00000040;
}

.containerContato-left {
	display: flex;
	align-items: center;
	gap: 30px;
}

.faleConosco li {
	display: flex;
	align-items: center;

	font-size: 23px;
}

.faleConosco img {
	height: 40px;
}

.contatosBottom ul {
	display: flex;
	flex-direction: column;

	font-size: 15px;
}

.contatosBottom li {
	display: flex;
}

.atendimento p {
	font-size: 20px;
	text-align: center;
}

#footer {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 30px;
	background: #000;

	font-size: 11px;
	font-weight: 400;
	color: #fff;
}
/* Contato [Fim] */

/* Floating Buttons [Início] */
.floatButtomWhatsApp {
	position: fixed;

	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;

	border-radius: 50px;

	text-align: center;
	font-size: 30px;
	color: #fff;

	background-color: #25d366;
	filter: drop-shadow(0px 4px 4px #00000040);
	z-index: 100;
}

.floatWhatsApp {
	margin-top: 16px;
}

.floatButtomArrow {
	position: fixed;

	width: 60px;
	height: 60px;
	bottom: 140px;
	right: 40px;

	border-radius: 50px;
	font-size: 30px;
	text-align: center;
	color: #252525;

	background-color: #dead00;
	filter: drop-shadow(0px 4px 4px #00000040);
	z-index: 100;
}

.floatArrow i {
	padding-top: 20px;
	font-size: 20px;
}
/* Floating Buttons [Fim] */
